* {
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-color: #e5e5e5;
  margin: 0;
  font-family: Poppins, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
 .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
 
 }
 .nav-links a {
  color: #396df2;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
  color: #396df2;
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }
 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color: white;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
}
#work_outline { margin: 50px 0 57px 0; }

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.external_link a:hover {
  color: #fff;
}

.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 45%;
  margin-top: 16px;
  padding: 10px 0;
  text-align: center;
  margin-left: 16px;
  margin-bottom: 32px;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}


.hero {
  background-color: #fff;
  border-radius: 0 0 0 15%;
}

#main-info {
  background-image:
    url("./Images/Ellipse\ 11.svg"),
    url("/Images/Rectangle\ 4.svg"),
    url("./Images/Ellipse\ 3.svg"),
    url("./Images/Ellipse\ 8.svg"),
    url("./Images/Ellipse\ 5.svg"),
    url("./Images/Rectangle\ 7\ \(1\).svg"),
    url("./Images/Ellipse\ 12.svg"),
    url("./Images/Ellipse\ 4.svg"),
    url("./Images/Rectangle\ 5.svg"),
    url("./Images/Ellipse\ 13.svg"),
    url("./Images/Ellipse\ 15.svg");
  background-position:
    19px 79px,
    250px 0%,
    315px 2%,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

#work_outline footer {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 4px;
}

.bio-intro {
  font-family: Poppins, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  text-align: start;
  margin-left: 15px;
}

.bio {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
}

p {
  text-decoration-color: #36a9f7;
  text-decoration-thickness: 2px;
  font-family: Poppins, sans-serif;
  margin-left: 15px;
}

#socials ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 15px;
}

#more-about {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

footer h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 15px;
}

.handel {
  list-style-type: none;
  margin-right: 20px;
}

.handel:hover { background-color: #23a3fa; }

#p1 {
  margin: 0;
  grid-row: 1 / 1 span;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#p1 #introd_1 {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

#p2 {
  margin: 0;
  grid-row: 2 / 1 span;
  display: flex;
  flex-direction: column;
}

#p2 #introd_2 {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

#p3 {
  margin: 0;
  grid-row: 3 / 1 span;
  display: flex;
  flex-direction: column;
}

#p3 #introd_3 {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

#p4 {
  margin: 0;
  grid-row: 4 / 1 span;
  display: flex;
  flex-direction: column;
}

#p4 #introd_4 {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
}

#general_inf {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

.title {
  color: #344563;
  margin-right: 12px;
  line-height: 16px;
  position: relative;
  top: 2px;
}

.counter {
  margin-right: 12px;
  min-width: 8px;
  min-height: 8px;
  align-self: center;
}

.job-title {
  color: #7a869a;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.year {
  color: #7a869a;
  display: flex;
  align-items: center;
}

.title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.year:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.job-title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.counter img:hover {
  border: 3px solid #18a0fa;
  border-radius: 50%;
}

.project_image { margin-top: 16px; }

.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 5px;
}

#skills_0 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

.skills li {
  background-color: #ebebfe;
  border-radius: 8px;
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 5px 15px;
  list-style: none;
}

.skills p:hover {
  border: 3px solid #18a0fa;
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#general_inf_1 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_2 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_3 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#skills_1 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

#skills_2 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

#skills_3 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

.project_description:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#about_me {
  height: 130vh;
  margin: 3px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius:  0 15% 0 0;
}

#about_me h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

#about_me h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#presentation:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  text-align: center;
  align-self: baseline;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
}

#my_resume:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

#spec_name {
  display: flex;
  justify-content: space-between;
}

#spec_name p {
  align-self: flex-start;
  margin: 2px 50% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#spec_name div { margin-right: 24px; }

#spec_name div img { vertical-align: middle; }

#programmes {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
}

.pro {
  list-style: none;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 5px;
  gap: 12px;
}

#frameworks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#frameworks p {
  margin: 0 50% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#frameworks div { margin-top: 7px; }

#l1 {
  height: 5px;
  margin: 10px 0;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

#l1 hr {
  background: #dfe1e6;
  height: 1px;
  vertical-align: middle;
  margin-top: 3px;
}

#sk {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#sk p {
  align-self: flex-start;
  margin: 0 72% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#sk div { margin-top: 7px; }

#sk p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#l2 {
  height: 5px;
  margin: 10px 0;
}

#l2 hr {
  background: #dfe1e6;
  height: 1px;
}

#programmes .pro p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 15px;
}

#spec_name p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#frameworks p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#l1 hr:hover {
  background-color: #18a0fa;
  color: #18a0fa;
}

#l2 hr:hover {
  background-color: #18a0fa;
  color: #18a0fa;
}

#programmes .pro p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.first-text-contact {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
  align-self: flex-start;
  padding-bottom: 20px;
}

.second-text-contact {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  align-self: flex-start;
  margin: 20px 0;
}

input[type=text],
select,
textarea {
  font-family: Poppins, sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.btn-container {
  text-align: left;
  border-radius: 8px;
  border: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  padding: 8px;
  align-self: flex-start;
  transition: ease color 2s;
}

.btn-container:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
}

.contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #396df2;
  border-radius: 100px 0 0 0;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;

}

#contact {
  background-image:
    url(./images/esp5.svg),
    url(./images/Rectangle\ 7.png),
    url(./images/esp3.svg),
    url(./images/rsp4.svg),
    url(./images/esp12.svg),
    url(../statics/images/contact-form-\ background.svg);
  background-repeat: no-repeat;
  background-position:
    78% 91%,
    86% 90%,
    99.7% 9.2%,
    99.5% 6.2%,
    41% 7.06%,
    0;
  background-size: auto, auto, auto, auto, auto, cover;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-form {
  display: flex;
  row-gap: 18px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-area {
  font-family: Poppins, sans-serif;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  background: #fff;
  background-color: rgb(255, 255, 255);
  background-color: #f8f8f8;
  border-radius: 8px;
  resize: none;
  margin-bottom: 1px;
  width: 100%;
  align-self: flex-start;
  padding-left: 5px;
}

.column {
 
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 65px 0;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: white;
  
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
