* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  margin: 0;
  font-family: Poppins, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-links a {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.nav-links {
  margin-right: 154px;
}

/* LOGO */
.logo {
  font-size: 32px;
  color: #396df2;
  margin-left: 130px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.skills li {
  background-color: #ebebfe;
  border-radius: 8px;
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 5px 15px;
  list-style: none;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
}

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.pro {
  list-style: none;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  flex-direction: column;
  width: 120px;
  height: 122px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

#programmes {
  display: flex;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li + li {
    margin-top: 12px;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  #programmes {
    display: inline;
  }

  .pro {
    /* width: 10rem; */
    display: inline;
  }
}
#work_outline { margin: 50px 100px 57px 100px; }

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.external_link a:hover {
  color: #fff;
}

.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 45%;
  margin-top: 16px;
  padding: 10px 0;
  text-align: center;
  margin-left: 16px;
  margin-bottom: 32px;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.hero {
  background-color: #fff;
  border-radius: 0 0 0 15%;
}

#main-info {
  background-color: #fff;
  background-image: url("./images/Header\ bg\ \(1\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  max-height: 180vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 70px;
  gap: 12px;
  position: relative;
}

#work_outline footer {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 4px;
}

.bio-intro {
  font-family: Poppins, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  text-align: start;
  margin-left: 150px;
}

.bio {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
}

p {
  text-decoration-color: #36a9f7;
  text-decoration-thickness: 2px;
  font-family: Poppins, sans-serif;
  margin-left: 15px;
}

#socials ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 150px;
}

.bio-text {
  margin-left: 150px;
  margin-right: 130px;
}

#more-about {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

footer h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 150px;
}

.handel {
  list-style-type: none;
  margin-right: 20px;
}

.handel:hover { background-color: #23a3fa; }

#p1 {
  grid-row: 1 / 1 span;
  display: flex;
  flex-direction: column;
}

#p1 #introd_1 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#p2 {
  grid-row: 2 / 1 span;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

#p2 #introd_2 {
  /* margin: 0 16px; */
  display: flex;
  flex-direction: column;
  margin: auto;
}

#p3 {
  grid-row: 3 / 1 span;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

#p3 #introd_3 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#p4 {
  grid-row: 4 / 1 span;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

#p4 #introd_4 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#general_inf {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

.title {
  color: #344563;
  margin-right: 12px;
  line-height: 16px;
  position: relative;
  top: 2px;
}

.counter {
  margin-right: 12px;
  min-width: 8px;
  min-height: 8px;
  align-self: center;
}

.job-title {
  color: #7a869a;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.year {
  color: #7a869a;
  display: flex;
  align-items: center;
}

.title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.year:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.job-title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.counter img:hover {
  border: 3px solid #18a0fa;
  border-radius: 50%;
}

.project_image { margin-top: 16px; }

.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 5px;
}

#skills_0 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

.skills p:hover {
  border: 3px solid #18a0fa;
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#general_inf_1 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_2 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_3 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#skills_1 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

#skills_2 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

#skills_3 {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 16px;
}

.project_description:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#about_me {
  height: 180vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 10% 0 0;
}

#about_me h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 7px;
  display: flex;
  align-items: flex-end;
}

#about_me h1:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-right: 4px;
  margin-left: 6px;
}

#presentation:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 6px;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
  margin-left: 7px;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  text-align: center;
  align-self: baseline;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-left: 8px;
}

#my_resume:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#spec_name {
  display: flex;
  justify-content: space-between;
}

#spec_name p {
  align-self: flex-start;
  margin: 2px 50% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

#spec_name div { margin-right: 24px; }

#spec_name div img { vertical-align: middle; }

.row {
  padding-top: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 6rem;
}

#frameworks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#frameworks p {
  margin: 0 50% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#frameworks div { margin-top: 7px; }

#l1 {
  height: 5px;
  margin: 10px 0;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

#l1 hr {
  background: #dfe1e6;
  height: 1px;
  vertical-align: middle;
  margin-top: 3px;
}

#sk {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#sk p {
  align-self: flex-start;
  margin: 0 72% 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#sk div { margin-top: 7px; }

#sk p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#l2 {
  height: 5px;
  margin: 10px 0;
}

#l2 hr {
  background: #dfe1e6;
  height: 1px;
}

#spec_name p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#frameworks p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#l1 hr:hover {
  background-color: #18a0fa;
  color: #18a0fa;
}

#l2 hr:hover {
  background-color: #18a0fa;
  color: #18a0fa;
}

#programmes .pro p:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.first-text-contact {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
  align-self: flex-start;
  font-weight: 700;
  line-height: 52px;
}

.second-text-contact {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}

input[type=text],
select,
textarea,
input[id=email] {
  font-family: "Poppins", sans-serif;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  resize: vertical;
  margin: auto;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.btn-container {
  text-align: left;
  border-radius: 8px;
  border: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  padding: 8px;
  align-self: flex-start;
  transition: ease color 2s;
  margin: auto;
}

.btn-container:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
}

.contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #396df2;
  border-radius: 100px 0 0 0;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

#contact {
  background-image:
    url(./images/esp5.svg),
    url(./images/Rectangle\ 7.png),
    url(./images/esp3.svg),
    url(./images/rsp4.svg),
    url(./images/esp12.svg),
    url(../statics/images/contact-form-\ background.svg);
  background-repeat: no-repeat;
  background-position:
    78% 91%,
    86% 90%,
    99.7% 9.2%,
    99.5% 6.2%,
    41% 7.06%,
    0;
  background-size: auto, auto, auto, auto, auto, cover;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-form {
  display: flex;
  row-gap: 18px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-area {
  font-family: Poppins, sans-serif;
  padding: 12px 20px;
  border: 1px solid #cfd8dc;
  background: #fff;
  background-color: rgb(255, 255, 255);
  background-color: #f8f8f8;
  border-radius: 8px;
  resize: none;
  margin-bottom: 1px;
  width: 100%;
  align-self: flex-start;
  padding-left: 5px;
}

.column {
  float: left;
  padding: 10px;
  height: 310px;
  background-color: white;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}

/* CARD Styles */

/* Float four columns side by side */
.column-example {
  float: left;
  width: 50%;
  padding: 10px;
}

.about-column {
  float: left;
  width: 50%;
  padding: 0;
}

/* CARD IMAGES */
.all_project-images {
  height: 400px;
}

.proj-image1 {
  background-image: url(./images/eerste.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.proj-image2 {
  background-image: url(./images/portfolioImage3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.proj-image3 {
  background-image: url(./images/portfolioImage4.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.proj-image4 {
  background-image: url(./images/portfolioImage1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Clear floats after the columns */
.row-example::after {
  content: "";
  display: table;
  clear: both;
}

.row-example {
  border-radius: 24px;
  max-height: 700px;
  margin: auto;
  margin-top: 70px;
  background-color: white;
  max-width: 1170px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column-example,
  .about-column {
    width: 50%;
    padding: 0;
  }

  .row-example {
    margin: auto;
    margin-top: 42px;
  }
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column-example,
  .about-column {
    width: 100%;
    padding: 0;
  }

  .row-example {
    margin: auto;
    margin-top: 20px;
  }

  .all_project-images {
    height: 200px;
    width: 100%;
  }
}
